<header id="header" class="container-fluid bg-dark shadow header">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="/">ChitChat</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
        </div>
        <% if(!currentUser) { %>
          <a class="btn btn-outline-primary" href="/login">Login</a>
          <a class="btn btn-outline-primary ml-2" href="/signup">Sign up</a>
        <% } else { %>
          <h5 class="float-right text-light m-0">Hello <%= currentUser.username %>!</h5>
          <a class="btn btn-outline-primary float-right ml-2" href="/logout" name="logout">Logout</a>
        <% } %>
      </nav>
    </div>
  </div>
</header>
