html, body {
  height: 100%;
  margin: 0;
}

.auth-card {
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auth-form * {
  margin-top: 5px;
  margin-bottom: 5px;
}

.invalid-message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.invalid-input {
  border-color: #dc3545 !important;
}

.header {
  position: fixed;
  top: 0;
  height: 55px;
  z-index: 2;
}

.friend-list {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 55px;
  width: 200px;
  z-index: 1;
  background-color: #474e55;
  overflow-y: auto;
}

main {
  position: fixed;
  width: 100%;
  top: 55px;
  left: 200px;
  bottom: 0;
}

.btn {
  border-radius: 0 !important;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

#list-tab a {
  border-radius: 0 !important;
  text-align: center;
}

.list-group-item {
  background-color: #474e55 !important;
}

.list-group-item-action {
  color: white !important;
}

.list-group-item.active {
  background-color: #535c64 !important;
  border-color: #535c64 !important;
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.search-box {
  padding: 10px;
  background-color: #5d67708f;
  display: flex;
  align-items: center;
}

.search-box i {
  flex-grow: 1;
  color: white;
  margin: 2px;
}

.search-box input {
  width: 100%;
  border: none;
  background-color: #ffffffc7;
  transition: all 0.2s ease-in-out;
  flex-grow: 2;
  margin: 2px;
  border-radius: 1rem;
  padding: 0 10px;
}

.search-box input:focus {
  background-color: white;
  outline: none;
  border: none;
}

.friend-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.friend-list ul li {
  padding: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.friend-list ul li:hover {
  background-color: #5d67708f;
}

#relationship-accordion button {
  padding: 0;
  color: white;
}

#relationship-accordion .card {
  border-radius: 0;
  background-color: #535c64;
}

#relationship-accordion .card .card-body {
  padding: 0;
  background-color: #474e55;
}

.no-content {
  color: white;
  text-align: center;
}